body {
    background: #fff;
    font-family: 'Cantarell', Georgia, Times New Roman, Times, serif;
    font-size: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
    line-height: 1;
}

h2 {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
    color: #ffb000;
    font-family: 'Chelsea Market', Georgia, serif;
    text-transform: lowercase;
}

h3 {
    font-size: 100%;
    font-weight: normal;
    margin: 40px 0 0;
    text-transform: lowercase;
}

p {
    width: auto;
    margin: 40px auto;
    color: #000;
    line-height: 200%;
}

i {
    color: #000;
}

ul {
    max-width: 100%;
    margin-right: 25%;
}

.scrollblock {
    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 40px;
    padding-bottom: 80px;
}

.quote {
    font-size: 15%;
    font-weight: normal;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
    line-height: 1;
}

a, a:visited {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff00ff;
}

code {
    background-color: #000;
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: 'Cantarell', menlo, monospace;
}

footer {
    color: #808080;
    background-color: #2c3eff;
    font-size: 25px;
    width: auto;
    height: auto;
}


.block-header { background-color: #fff; padding-bottom: 50px; }
.block-header h2 { color: #000; }
.block-header .meta { font-size: 20px; color: #808080; }
.block-header .meta a { font-size: 20px; color: #000; }
.block-header .meta a:hover { color: #ff00ff; text-decoration: none; }

.block-table-of-contents { background-color: #2c3eff; }
.block-table-of-contents h2 { color: #fff; }
.block-table-of-contents hr { margin: 10px 300px; }
.block-table-of-contents nav { list-style-type: none; text-align: justify; margin-left: 50px; }
.block-table-of-contents nav ul { display: block; }
.block-table-of-contents nav ul li { line-height: 2; }
.block-table-of-contents nav ul li a { font-size: 30px; }
.block-table-of-contents nav ul li a:hover { background-color: #00ffff; width: auto; border-radius: 10px; color: #0000ff; text-decoration: none; }
